* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f4f7fb;
    color: #333;
}


header {
    background: #e65100;
    color: white;
    text-align: center;
    padding: 60px 20px;
}


header h1 {
    font-size: 48px;
    margin-bottom: 15px;
}


header p {
    font-size: 21px;
}


.content {

    width: 85%;
    margin: 40px auto;
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}


.content h2 {

    color: #e65100;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 20px;

}


.content p {

    font-size: 18px;
    line-height: 1.9;
    text-align: justify;
    margin-bottom: 15px;

}


ul {

    margin-left: 35px;
    font-size: 18px;
    line-height: 2;

}


.cards {

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 0;

}


.card {

    width: 300px;
    background: #fff3e0;
    padding: 25px;
    border-radius: 12px;
    transition: .3s;

}


.card:hover {

    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);

}


.card h3 {

    color: #e65100;
    margin-bottom: 12px;

}


.card p {

    font-size: 16px;

}


@media(max-width:768px) {

    .content {

        width: 95%;
        padding: 25px;

    }


    .card {

        width: 100%;

    }


    header h1 {

        font-size: 35px;

    }

}